$mq = {
    mobile      : '(max-width: 759px)',
    not_mobile  : '(min-width: 760px)',
    desktop     : '(min-width: 1280px)',
    not_desktop : '(max-width: 1279px)',
    tablet      : '(min-width: 760px) and (max-width: 1279px)',

    not_large_desktop : '(max-width: 1599px)',

    ie          : '(-ms-high-contrast: none), (-ms-high-contrast: active)',
    iphone5     : '(max-width: 374px)',
    webkit      : '(-webkit-min-device-pixel-ratio: 0)',

    mobile_portrait  : '(max-width: 759px) and (orientation: portrait)',
    mobile_landscape : '(max-width: 759px) and (orientation: landscape)',

    tablet_portrait  : '(max-width: 1279px) and (orientation: portrait)',
    tablet_landscape : '(max-width: 1279px) and (orientation: landscape)',
}