@import 'mq';
@import 'functions';

$colors = {
    white: #fff,
    black: #000,
    text: #333,
    links: #2F80ED,
    hover: #DD2E44,
    placeholder: #C4C4C4,
    author: #4F4F4F,
    x: #828282,
    yellow: #F2C94C,
    green: #6FCF97,
}

$fonts = {
    rubik: 'Rubik'\, sans-serif,
    roboto: 'Roboto'\, sans-serif,
}