@import 'mq';
@import 'functions';

$colors = {
    white: #fff,
    black: #000,
    text: #333,
    links: #2F80ED,
    hover: #DD2E44,
    mark: #d9f5ff,
    placeholder: #C4C4C4,
    author: #4F4F4F,
    x: #828282,
    yellow: #F2C94C,
    green: #6FCF97,
    purple: #BB6BD9,
    red: #EB5757,
    greendark: #219653,
    blue: #2D9CDB,
    bluelight: #56CCF2,
}

$fonts = {
    rubik: 'Rubik'\, sans-serif,
    roboto: 'Roboto'\, sans-serif,
}